.TodoTemplate {
  width: calc(100% - 48px);
  max-width: 365px;
  margin: 0 auto;
  height: calc(100vh - 64px);
  max-height: 650px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: #cbcbcb 0px 0px 20px 20px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  box-sizing: border-box;

  .app-title {
    padding-top: 24px;
    color: #333;
    font-size: 20px;
    text-align: left;
    font-weight: 700;
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100% - 48px);
  }
}

.TodoListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px;
  background-color: #f6f8fa;
  border-radius: 8px;
  box-sizing: border-box;
  & + & {
    margin-top: 12px;
  }
  .text-wrap {
    width: 100%;
    overflow: hidden;
    span {
      width: 100%;
      display: block;
    }
    .text {
      font-size: 14px;
      line-height: 20px;
      flex: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      line-clamp: 5;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      word-wrap: break-word;
    }

    .time {
      font-size: 12px;
      line-height: 16px;
      color: #a8a8a8;
      margin-top: 8px;
    }
  }

  .ui-check {
    flex: 1;
    overflow: hidden;
    svg {
      font-size: 24px;
      color: #a2a2a2;
    }
    &.checked {
      svg {
        color: #04bc71;
      }
      .text {
        color: #a8a8a8;
        text-decoration: line-through;
      }
    }
  }
}

.TodoInsert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  //   margin-top: 12px;
  //   margin-bottom: 12px;
  background-color: #faf6ea;
  padding: 12px;
  border-radius: 8px;

  .ui-input {
    background-color: #faf6ea;

    flex: 1;
    &::placeholder {
      color: #c2ad6e;
    }
  }
}

.btn {
  border: none;
  background: none;
  outline: none;
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
  justify-content: center;
  &-default {
    background-color: #f0e2b7;
    svg {
      color: #927930;
    }
  }
  &-remove {
    font-size: 20px;
    color: rgba(193, 12, 12, 0.821);
  }
}

.ui {
  &-input {
    border: none;
    font-size: 14px;
    line-height: 22px;
    color: #333;
  }

  &-check {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    cursor: pointer;
  }
}
